:root {
    --mild_yellow: #d1d184;
    --light_green: #dafab0;
    --light_blue: rgb(148, 185, 255);
    --green_blue: rgb(205, 255, 216);
    --light_pink: #fffaed;
    --light_pink_blur: #fffaedae;
}

.header {
    width: 100%;
    height: 60px;
    background-color: var(--light_green);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: solid 2px black ;
}
.login-btn {
    text-decoration: none;
    min-width: 100px;
    width: fit-content;
    height: 40px;
    margin: 0 20px;
    border-radius: 20px;
    background-color: var(--mild_yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black ;
}

.total-result {
    width: 100%;
    margin: 10px;
    text-align: center;
    color: black;
}

.homepage-container {
    width: 100%;
    height: 98vh;
    max-height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.search-container {
    box-sizing: border-box;
    max-width: 1000px;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: center;
}

.search-text {
    font-size: 25px;
    margin-bottom: 5px;
}
.option-btn {
    background-color: var(--light_green);
    border: none;
    height: 30px;
    width: fit-content;
    width: 120px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid black;
}
.option-btn:hover {
    opacity: 0.7;
}

.search-right > form {
    display: flex;
}
.search-bar {
    height: 28px;
    border-radius: 14px;
    width: 95%;
    border: solid 2px black;
    padding-left: 14px;
    background-color: var(--mild_yellow);
}
.search-btn {
    border: none;
    background: none;
    margin: 5px;
}
.search-btn-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.history-container {
    border-radius: 10px;
    background-color: var(--light_green);
    border: none;
    margin: 5px;
    width: 90%;
    padding: 7px;
}
.history-line {
    display: grid;
    grid-template-columns: 5% 80% 15%;
    align-items: center;
}
.history-reuse {
    padding-left: 15%;
}
.history-text {
    text-align: start;
}
.history-delete {
    background: none;
    border: none;
    color: blue;
    text-align: end;
}
.restaurant-card {
    background-image: linear-gradient(90deg,var(--green_blue), var(--light_blue));
    width: 700px;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px;
    display: grid;
    border: 2px solid black;
    grid-template-columns: 20% 70% 10%;
}
.res-img-home {
    width: 100px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 20px;
}
.restaurant-card > div {
    font-size: 25px;
}
@media (max-width: 680px) {
    .search-text {
        display: none;
    }
    .option-btn {
        font-size: 0px;
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }
}
.option-form {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 700px;
    height: 450px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid black;
    overflow: hidden;
}
.option-popup-header {
    background-color: var(--light_green);
    padding: 5px;
    padding-right: 20px;
    font-size: 20px;
    text-align: end;
    border-bottom: solid 2px black ;
}
.popup-inside-container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab-container {
    border: 2px solid black;
    width: 600px;
    height: 300px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 20% 80%;
}
.tab {
    height: 75px;
    padding: 15px;
    text-align: center;
    background: var(--light_pink);
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
}
.tab-inactive {
    background: var(--light_pink_blur);
    padding: 15px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    border: 1px solid black;
    border-left: none;
    height: 75px;
}
.tab-content {
    height: 100%;
    overflow-y: scroll;
    background: var(--light_pink);
    padding: 20px 35px;
    box-sizing: border-box;
    text-align: start;
}
.tab-content-inactive {
    display: none;
}
.button-container {
    display: flex;
    justify-content: space-around;
    background-color: var(--light_pink);
    padding: 15px;
    border: 1px solid black;
    border-top: none;
}
.option-popup-btn {
    height: fit-content;
    border-radius: 10px;
    font-size: 20px;
    min-width: 120px;
    background-color: #7cb58a;
    color: #ff3131;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.myLabel {
    display: block;
    position: relative;
    padding-left: 80px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
/* Hide the browser's default checkbox */
.myLabel input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}
  
/* Create a custom checkbox */
.checkmark {
position: absolute;
top: 5px;
left: 0;
height: 20px;
width: 20px;
background-color: #fff;
border-radius: 50%;
border: 2px solid green;
}

/* On mouse-over, add a grey background color */
.myLabel:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.myLabel input:checked ~ .checkmark {
background-color: green;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.myLabel input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.myLabel .checkmark:after {
left: 6px;
top: 2px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.lan-btn {
    height: 40px;
    border-radius: 20px;
    padding: 5px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    background-color: var(--mild_yellow);
}
.lan-flag {
    height: 30px;
    width: auto;
    border-radius: 5px;
    margin: 5px;
}
.lan-dropdown {
    background-color: var(--mild_yellow);
    position: absolute;
    z-index: 1;
    top: 50px;
    border: 2px solid black;
    border-radius: 5px;
}
.res_detail_outer_container {
    height: calc(100vh - 60px);
    padding: 30px
}
.res-detail-container {
    background-image: linear-gradient(90deg,var(--green_blue), var(--light_blue));
    border-radius: 30px;
    padding: 30px;
    display: grid;
    grid-template-columns: 30% 70%;
}
.res-detail-left {  
    padding-right: 10px;
    display: grid;
    grid-template-rows: 40% 30% 30%;
}
.res-detail-right {
    border-left: solid 1px black;
    padding-left: 20px;
    display: grid;
    grid-template-rows: 30% 70%;
}
.res-detail-img {
    border-radius: 20px;
    width: 100%;
    height: calc(100% - 10px);
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}
.res-detail-service-container {
    overflow-y: scroll;
    padding: 10px
}
.res-detail-service {
    display: flex;
    margin: 5px;
    font-size: 28px;
}
.res-detail-service div {
    margin-left: 10px;
}
.res-detail-crowdedtime {
    margin-top: 10px;
    border-top: solid 1px black;
    font-size: 25px;
}
.res-detail-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 30px;
}
.res-detail-menu-container {
    height: 100px;
    overflow-y: scroll;
    margin: 10px;
    font-size: 24px;
    margin-left: 40px;
}
.res-detail-menu-item {
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.res-detail-title {
    font-weight: bold;
    font-size: 40px;
    border-bottom: solid 1px black;
}
.res-detail-form {
    width: 90%;
    height: 100px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.res-detail-form span {
    margin: 10px;
    font-size: 15px;
}
.res-detail-input {
    height: 30px;
    border-radius: 15px;
    background-color: var(--mild_yellow);
    width: 60%;
    padding-left: 10px;
}
.res-detail-green-status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(129, 255, 129);
    margin-bottom: 5px;
}
.setup-container {
    background-image: linear-gradient(90deg,var(--green_blue), var(--light_blue));
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.setup-container h1 {
    font-size: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    width: 80%;
    text-align: center;
}
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid green;
  }
  
  /* On mouse-over, add a grey background color */
  .myLabel:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .myLabel input:checked ~ .checkmark {
    background-color: green;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .myLabel input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .myLabel .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .page-item .page-link {
    border: 1px solid black !important;
    margin: 0 10px !important;
    border-radius: 50% !important;
    background-color: var(--light_green) !important;
    color: black !important;
  }

  .active > .page-link  {
    color: white !important;
  }
.logout-btn {
    margin-right: 20px;
    text-align: center;
    min-width: 100px;
    background-color: var(--mild_yellow);
    border-radius: 10px;
}