.profile-container {
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px;
    padding: 15px;
    background-image: linear-gradient(90deg,var(--green_blue), var(--light_blue));
}
.break-line {
    border-bottom: 2px solid black;
    margin: 30px 30px 30px 20px;
}
.user-container {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.avatar-container {
    position: relative;
    flex-basis: 25%;
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
}

.avatar-container > div {
    position: relative;
}

.avatar-preview {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid black;
}

.save-button {
    position: absolute;
    bottom: 0;
    background: #d0d183;
    display: flex;
    justify-content: center;
    width: 100%;
    border: 2px solid black;
    border-radius: 25px;
}

.info-container {
    flex-basis: 75%;
    margin-left: 40px;
}

.input-field {
    margin-bottom: 25px;
}

.input-field > label > span {
    width: 250px;
    display: inline-block;
}

.input-field > label > div {
    display: inline-block;
}

.date-input {
    margin-right: 20px;
    width: 100px;
    border: 2px solid black;
    background-color: #d0d183;
    border-radius: 20px;
    padding-right: 10px;
    text-align: right;
}

.sex-input {
    margin-right: 60px;
}

input[type=text], input[type=email], input[type=tel] {
    width: 400px;
    background-color: transparent;
    border: none;
    outline: none;
}